body {
    color:rgb(2, 2, 129);
    background: rgb(113, 156, 248);
}
header {
    border-bottom: solid 2px rgb(127, 14, 232);
    padding: 20px;
    font-size: 32px;
    color: rgb(159, 223, 251);
}
section {
    background: rgb(73, 63, 222);
    padding-bottom: 60px;
    padding-top: 60px;
    display: flex;
    justify-content: center;
}
.chamada-texto {
    margin-right: 5%;
}